body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: bisque;
  text-align: center;
  background-image: url('./Images/ClassicBK.png');
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#title {
  margin-top: 90px;
  font-size: 80px;
  font-size: 22px;
  color: aliceblue;
  gap: 30px;
  text-shadow: 0 0 6px #ff00cc;
  font-family: 'Press Start 2P', cursive;
}

.game-layout {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 40px;
}

#hangman-img {
  max-width: 80%;
  height: auto;
  width: 180px;
  transition: all 0.9s ease;
}

#hints {
  font-size: 18px;
  margin-bottom: 20px;
  color: aliceblue;
  text-shadow: 0 0 5px #ff00cc;
}

#word-underscores {
  display: flex;
  justify-content: center;
  gap: 10px;
  font-size: 24px;
  color: azure;
  text-shadow: 0 0 5px #ff00cc;
}

.keyboard .letters {
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.letter {
  padding: 10px;
  font-size: 18px;
  border-radius: 100px;
  width: 40px;
  cursor: pointer;
  text-shadow: 0 0 5px #ff00cc;
  background-color: black;
  color: white;
  border-color: #ff00cc;
}
.letter:hover {
  background-color: blueviolet;
  transition: all 0.6s ease;
}

.reset {
  font-style: oblique;
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 20px;
  background-color: #e67979;
  color: white;
  border: none;
  cursor: pointer;
  transition: all 0.9s ease;
}

.reset:hover {
  background-color: #fc0909;
}

.Tries {
  color: #ffff;
  text-shadow: 0 0 5px #ff00cc;
}
